<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Radiplus</title>
    <!-- Icon-->
    <link href="{% static 'assets/images/access/favicon.ico' %}" rel="shortcut icon">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- style-->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static 'assets/js/common.js' %}"></script>
    {{ room_name|json_script:"room-name" }}
    <script src="{% static 'assets/js/trade.js' %}" defer></script>
    <script src="{% static 'assets/js/portfolio.js' %}" defer></script>
    <script src="{% static 'assets/js/account.js' %}" defer></script>
    <script src="{% static 'assets/js/profit.js' %}" defer></script>
</head>

<body>
    {% block content %}

    {% endblock %}
</body>

</html>