.alert {
    padding: $spacing12;
    color: $color-normal;
    margin-bottom: $spacing24;
    border-radius: 4px;
    width: 100%;
    [class*="alert-"] {
        color: inherit;
    }
    .close {
        padding: 0 $spacing12;
        opacity: 1;
        text-shadow: none;
        position: absolute;
        top: $spacing16;
        right: 0;
        line-height: 0;
        [class*="icon-"] {
            font-size: 12px;
            &:before {
            }
        }
        &:hover {
            [class*="icon-"] {
                &:before {
                }
            }
        }
    }
    a.btn-link {
        color: $color-link!important;
    }
    a:hover {
        text-decoration: underline;
    }
    &+.alert {
        margin-top: -$spacing16;
    }
}

.smart-alert {
    position: fixed;
    z-index: 99;
    top: 88px;
    right: $spacing24;
    .alert {
        margin-bottom: 8px;
        width: 320px;
        &+.alert {
            margin-top: 0;
        }
    }
}

.alert-dismissible {
    padding-right: 40px;
}

.alert-primary {
    border-color: $color-link;
    background: $color-background-expand;
    /*.close {
        [class*="icon-"] {
            &:before {
                color: $primary-default;
            }
        }
        &:hover {
            [class*="icon-"] {
                &:before {
                    color: $primary-hover;
                }
            }
        }
    }*/
    a {
        color: $color-link!important;
    }
}

.alert-danger {
    border-color: $fail-default;
    background: $fail-light;
    /*.close {
        [class*="icon-"] {
            &:before {
                color: $fail-default;
            }
        }
        &:hover {
            [class*="icon-"] {
                &:before {
                    color: $fail-hover;
                }
            }
        }
    }*/
    a {
        color: $fail-default!important;
    }
}

.alert-success {
    border-color: $success-default;
    background: $success-light;
    /*.close {
        [class*="icon-"] {
            &:before {
                color: $success-default;
            }
        }
        &:hover {
            [class*="icon-"] {
                &:before {
                    color: $success-hover;
                }
            }
        }
    }*/
    a {
        color: $success-active!important;
    }
}

.alert-warning {
    border-color: $warning-default;
    background: $warning-light;
    /*.close {
        [class*="icon-"] {
            &:before {
                color: $warning-default;
            }
        }
        &:hover {
            [class*="icon-"] {
                &:before {
                    color: $warning-hover;
                }
            }
        }
    }*/
    a {
        color: $warning-default!important;
    }
}

.alert-info {
    border-color: $color-gray;
    background: $color-white;
    /*.close {
        [class*="icon-"] {
            &:before {
                color: $color-gray;
            }
        }
        &:hover {
            [class*="icon-"] {
                &:before {
                    color: $secondary-hover;
                }
            }
        }
    }*/
    a {
        color: $color-gray!important;
    }
}

/*.form-group {
    .alert {
        margin-top: 8px;
    }
}*/

.navbar + .content, .headbar + .content {
    >.alert:first-child {
        margin-top: -30px;
    }
}

.sidebar-left+.container-fluid {
    .fixed-alert {
        position: fixed;
        top: 64px;
        left: 30%;
        right: 0;
        padding: $spacing16 $spacing24 $spacing24 $spacing24;
        background-color: $color-white;
        z-index: 1;
        .alert {
            margin-bottom: 0;
        }
        &+div {
            margin-top: 60px;
        }
    }
}