.btn {
    min-width: 120px;
    height: 40px;
    padding: 0 $spacing16;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    font-weight: 600;
    white-space: nowrap;
    line-height: 2;
    &.disabled, &:disabled {
        color: $color-disable!important;
        cursor: default;
        opacity: inherit;
        //pointer-events: none;
        i {
            span {
                &:before {
                    color: $color-disable!important;
                }
            }
            &:before {
                color: $color-disable!important;
            }
        }
    }
    &+.btn, &+.btn-dropdown {
        margin-left: 8px;
    }
    &[class*=btn-]:not([class*="btn-icon"]) {
        i {
            margin-top: -2px;
        }
    }
}

.btn-sm {
    padding: 0 $spacing12;
    height: 24px;
    font-weight: 600;
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
    min-width: 80px;
    line-height: normal;
    &.disabled, &:disabled {
        color: $color-disable;
        cursor: default;
        opacity: inherit;
        pointer-events: none;
        i {
            span {
                &:before {
                    color: $color-disable!important;
                }
            }
            &:before {
                color: $color-disable!important;
            }
        }
    }
    +.btn-sm {
        margin-left: 8px;
    }
    &.btn-icon {
        padding: 0 6px;
    }
}

[class*=btn-] {
    i {
        display: inline-block;
        vertical-align: middle;
    }
    &:disabled {
        i {
            span {
                &:before {
                    color: $color-disable!important;
                }
            }
            &:before {
                color: $color-disable!important;
            }
        }
    }
}

.btn-icon {
    background: none;
    padding: 0 8px;
    min-width: 40px!important;
    width: auto!important;
    border-radius: 4px;
    border: none;
    line-height: 0;
    i {
        span {
            &:before {
                color: $secondary-default!important;
            }
        }
    }
    .icon-active {
        span {
            &:before {
                color: $primary-default!important;
            }
        }
    }
    &:hover {
        i {
            span {
                &:before {
                    color: $secondary-hover!important;
                }
            }
            &:before {
                color: $secondary-hover!important;
            }
        }

        /* icon-green */
        [class*=icon-green] {
            span {
                [class^="path"]:before, &:before {
                    color: $primary-hover!important;
                }
            }
            [class^="path"]:before, &:before {
                color: $primary-hover!important;
            }
        }

        /* icon-red */
        [class*=icon-red] {
            span {
                [class^="path"]:before, &:before {
                    color: $fail-hover!important;
                }
            }
            [class^="path"]:before, &:before {
                color: $fail-hover!important;
            }
        }
    }
    &:focus, &:active {
        i {
            span {
                &:before {
                    color: $secondary-active!important;
                }
            }
            &:before {
                color: $secondary-active!important;
            }
        }

        /* icon-green */
        [class*=icon-green] {
            span {
                [class^="path"]:before, &:before {
                    color: $primary-active!important;
                }
            }
            [class^="path"]:before, &:before {
                color: $primary-active!important;
            }
        }

        /* icon-red */
        [class*=icon-red] {
            span {
                [class^="path"]:before, &:before {
                    color: $fail-active!important;
                }
            }
            [class^="path"]:before, &:before {
                color: $fail-active!important;
            }
        }
    }
    &[data-bs-toggle="tooltip"]:not([class*="btn-icon btn-"]) {
        height: 26px;
        margin: 8px 0;
    }
    &.inline {
        margin: -8px 0!important;
    }
}

.btn-outline {
    border: 1px solid $color-white;
    color: $color-white;
    &.success {
        &:hover {
            border-color: $color-success;
            color: $color-success;
        }
    }
    &.danger {
        &:hover {
            border-color: $fail-default;
            color: $fail-default;
        }
    }
    &:not(:disabled):not(.disabled):active {
        color: $color-white;
        background: $primary-default;
        border-color: $primary-default;
        i {
            span {
                &:before {
                    color: $primary-default!important;
                }
            }
            &:before {
                color: $primary-default!important;
            }
        }
    }
    &:active {
        color: $primary-default;
        background: $color-white;
        border-color: $primary-default;
        i {
            span {
                &:before {
                    color: $primary-default!important;
                }
            }
            &:before {
                color: $primary-default!important;
            }
        }
    }

    &.disabled, &:disabled {
        background: $color-white!important;
        border-color: $color-disable!important;
        i {
            span {
                &:before {
                    color: $color-disable;
                }
            }
            &:before {
                color: $color-disable;
            }
        }
    }
}

.btn-dropdown {
    position: relative;
    .btn {
        margin-left: 0!important;
    }
}

.btn-link {
    padding: 0;
    color: $color-link;
    border: none;
    background: none;
    display: inline-flex;
    align-items: center;
    i {
        color: $color-link!important;
        margin-right: 8px;
    }
    &:hover {
        color: $color-link;
        text-decoration: none;
        position: relative;
        &:before {
            content: '';
            height: 1px;
            background: $color-link;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    &:focus, &:visited, &:not(:disabled):not(.disabled):active {
        color: $color-link;
    }
    &:active {
        text-decoration: none;
    }
    &.disabled, &:disabled {
        color: $color-disable;
    }
}

.btn-primary {
    padding: 0;
    color: $primary-default;
    border: none;
    background: $color-white;
    &:hover {
        color: $primary-active;
        background: $color-white;
        opacity: .7;
    }
    &:focus, &:visited, &:not(:disabled):not(.disabled):active {
    }
    &:active {
    }
    &.disabled, &:disabled {
        color: $color-disable;
    }
}