html {
	-webkit-text-size-adjust: 100%;
}

body, html {
    font-family: $font-family-normal;
	font-size: $font-normal;
	color: $color-white;
	line-height: 1.3em;
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    &.login {
        background-position: bottom -55px center;
    }
}

.bg {
    background: url('../images/bg.jpg') no-repeat bottom center $color-background;
	background-size: 100%;
    position: fixed;
    top: 0; left: 0; right: 0;
    bottom: 0;
    z-index: -1;
}

#root {
    height: 100vh;
}

/* line height 1.3 */
input[type="checkbox"], 
input[type="radio"] {
	margin-top: 2px!important;
}
/* line height 1.3 */

body {
	overflow-y: auto \9;
	width: 100%;
}

h1, h2 {
    line-height: 1.15;
}

h1 {
    font-size: $font-xxlarge;
	margin: 0 0 $spacing24;
}
h2 {
	font-size: $font-xlarge;
	margin: 0 0 $spacing24;
}
h3 {
	font-size: $font-large;
	margin: 0 0 $spacing24;
    line-height: 1.2;
}

label {
    margin: 0 0 $spacing12;
}

h2, h3 {
    &.title {
        margin-bottom: $spacing16;
    }
}

.title-header {
    color: $color-title;
    margin-bottom: $spacing16;
    .form-check {
        min-height: inherit;
        padding-top: 0;
        margin-left: auto;
    }
}

hr {
    border: 1px solid  $color-border;
    border-bottom: 0;
    margin: $spacing24 0;
}

small {
    color: $color-sub;
    font-size: $font-small;
    font-weight: normal;
    line-height: 1.25em;
}

input {
    &:focus {
		outline: none!important;
		box-shadow: none!important;
	}
}

a {
	text-decoration: none;
	cursor: pointer;
	color: $color-link;

	&:active,
	&:focus,
	&:hover {
        text-decoration: none;

    }
    
    /*&:not([class]) {
        &:hover {
		    text-decoration: underline;
        }
    }*/

	&:focus {
		outline: none!important;
		box-shadow: none!important;
    }
}

p {
    margin-bottom: $spacing16;
    &:last-child {
        margin-bottom: 0;
    }
    >small {
        margin-top: 8px;
        display: block;
    }
}

button, .btn, select {
	outline: none!important;
	box-shadow: none!important;
}

li, ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.list-ul {
    padding-left: $spacing16;
    li {
        list-style: disc;
        +li {
            margin-top: 4px;
        }
    }
}

img {
    border: none;
    &.img-border {
        border: 1px solid $color-border;
        border-radius: 4px;
    }
}

.container-fluid {
    padding: 0;
    height: 100vh;
    .content {
        height: 100%;
    }
    .tab-content {
        padding-bottom: 140px;
    }
}

.nav-select {
    padding: $spacing12;
    background: $primary-default;
    select {
        height: 36px;
        padding: 0;
        white-space: nowrap;
        line-height: 2;
        background: none;
        border: 0;
        color: $color-white;
        width: 100%;
    }
}

.bar-name {
    color: #fff;
    padding: $spacing16;
    h1 {
        margin-bottom: 0;
        font-size: $font-xxlarge;
        line-height: 1;
    }
    .price {
        font-weight: bold;
        font-size: $font-xlarge;
        line-height: 1;
        span {
            font-weight: normal;
            font-size: .8em;
        }
    }
    .change {
        font-size: $font-small;
        line-height: 1;
        margin-top: 4px;
    }
    .latest-info {
        font-size: 10px;
        color: $color-white;
        margin-top: 2px;
    }
    .float-left {
        margin-right: $spacing16;
    }
    &+hr {
        border-color: $color-border;
        margin: 0;
    }
}
.bar-price {
    padding: $spacing12;
    display: flex;
    &+hr {
        margin: 0;
    }
    .form-group {
        margin-bottom: 5px;
        line-height: 1;
        text-align: center;
        label {
            font-size: $font-small;
            color: $color-sub;
            font-weight: normal;
            margin-bottom: 8px;
            display: block;
        }
        >span {
            font-size: $font-medium;
            color: $color-white;
        }
        span span {
            font-size: .8em;
            margin-left: 4px;
            display: none;
        }
    }
}

.nav-second {
    margin-top: $spacing12!important;
    a {
        &:before {
            display: none;
        }
        width: 50%;
        max-width: initial!important;
        &.active {
            background: rgba($primary-active, .95)!important;
        }
    }
    &+.tab-content {
        padding-bottom: 0;
        background: rgba($primary-active, .9);
        .tab-pane {
            padding: $spacing24 $spacing16;
            .form-group {
                display: flex;
                margin-bottom: 8px;
                span {
                    margin-left: auto;
                    white-space: nowrap;
                    &+span {
                        margin-left: 6px;
                    }
                    >span {
                        margin-left: 4px;
                        font-size: .8em;
                    }
                    >i {
                        padding: 0 4px 0 8px;
                        position: relative;
                        top: 2px;
                    }
                }
            }
            label {
                margin-bottom: 0;
                margin-right: $spacing24;
                white-space: normal;
            }
        }
    }
}

.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: $color-white;
    justify-content: center;
    a {
        color: $primary-default!important;
        &:before {
            background: rgba($color-disable, .7);
        }
        i {
            font-size: 16px;
            margin: 0 auto;
            display: block;
            color: $color-background;
        }
        &.active {
            color: $color-white!important;
            background-color: $primary-default;
            &:before {
                background-color: $primary-default;
            }
            i {
                color: $color-white;
            }
        }
        &:hover {
            color: $color-white!important;
            background-color: $primary-default;
            &:before {
                background-color: $primary-default;
            }
            i {
                color: $color-white;
            }
        }
        span {
            font-size: 10px;
            display: block;
            line-height: 1;
            margin-top: 6px;
        }
    }
}

.content-group {
    margin-bottom: $spacing36;
    &:last-child {
        margin-bottom: 0;
    }
    .form-group {
        margin-bottom: $spacing12;
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        &:last-child {
            margin-bottom: 0;
        }
        label {
            margin-bottom: 0;
        }
        span {
            margin-left: auto;
            white-space: nowrap;
            &+span {
                margin-left: 6px;
            }
            >span {
                margin-left: 4px;
                font-size: .8em;
            }
            >i {
                padding: 0 4px 0 8px;
                position: relative;
                top: 2px;
            }
        }
        label {
            margin-bottom: 0;
            margin-right: $spacing24;
            white-space: normal;
        }
    }
}

section {
    padding: $spacing16;
}

#portfolio {
    section {
        padding-top: 60px;
    }
}

.login-form {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: $spacing16 $spacing24; 
    >div {
        width: 100%;
    }
    .form-group {
        margin-bottom: $spacing16;
    }
    .title-header {
        text-transform: uppercase;
        text-align: center;
        font-size: 30px;
        color: $color-white;
        line-height: .7;
        font-weight: lighter;
        width: 170px;
        margin: -30px auto $spacing16 auto;
        position: relative;
        span {
            animation: eye 2s infinite ease-in-out;
            position: relative;
            font-weight: bold;
            -webkit-text-stroke: 1px $color-white;
            color: $primary-default;
            margin-bottom: 4px;
            display: inline-block;
            padding: 0 2px;
            font-size: 40px;
            &:nth-child(2) {
                animation-delay: 1s;
            }
            &:nth-child(3) {
                animation-delay: 1.5s;
            }
        }
        @keyframes eye {
            0% { top: 0; }
            10% { top: -16px; }
            30% { top: 0; }
            55% { top: -9px; }
            90% { top: -1px; }
            100% { top: -4px; }
        }
        &:after {
            left: 0;
        }
        &:before {
            right: 0;
        }
    }
}

.title {
    display: flex;
    align-items: center;
    a {
        font-size: 12px;
        font-weight: normal;
        color: $color-white;
        margin-left: auto;
        border: 1px solid $color-white;
        padding: 4px 8px;
        line-height: 1;
        border-radius: 4px;
        &:hover {
            opacity: .5;
        }
        i {
            margin-right: 6px;
        }
    }
}