// Modal
.modal-open .smart-alert {
    z-index: 1003;
    top: $spacing24;
}
.modal-backdrop {
    background: $color-shadow;
    &.show {
        opacity: .7;
    }
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1002;
    display: none;
    overflow: auto;
    padding: 0!important;
    p {
        color: $color-normal;
    }
    .table {
        min-width: inherit;
    }
    .table-header-fix {
        table {
            min-width: 768px;
        }
    }
    .btn-primary {
        background: $primary-default;
        color: $color-white;
        &:hover, &:active, &:focus, &:not(:disabled):not(.disabled):active {
            background: $primary-active;
            opacity: 1;
        }
        &:visited {
            background: $primary-default;
        }
    }
    .btn-outline {
        border-color: $primary-default;
        color: $primary-default;
        &:hover, &:active {
            color: $primary-hover;
            opacity: 1;
        }
        &:visited {
            color: $color-white;
        }
    }
}
.modal-backdrop {
    z-index: 1001;
}
.modal-dialog {
    max-width: 300px;
    margin: 120px auto 64px auto;
    .modal-content {
        border: none;
        border-radius: 4px;
        background: $color-white;
        box-shadow: 0 0 6px 0 rgba($color-normal, 0.16)
    }
    .modal-header, .modal-body {
        padding: $spacing16;
    }
    .modal-body {
        padding-bottom: 0;
        min-height: 60px;
    }
    .modal-footer {
        border: none;
        padding: $spacing16;
    }
    .modal-header {
        padding-top: $spacing16;
        padding-bottom: $spacing16;
        border-bottom: 1px solid $color-border;
        .close {
            margin-left: $spacing16;
            font-weight: lighter;
            font-size: 24px;
            span {
                color: $secondary-default;
            }
            &:hover span {
                color: $secondary-hover;
                opacity: 1;
            }
        }
        /*&+.modal-body {
            padding-top: 8px;
        }*/
    }
    .modal-title {
        font-size: $font-large;
        font-weight: bold;
        color: $primary-default;
        display: block;
        width: 100%;
        line-height: normal;
    }
    .modal-body {
        max-height: 470px;
        &[style="overflow-y: auto;"] {
            &+.modal-footer {
                position: relative;
                /*&:before {
                    content: '';
                    background-color: $color-white;
                    height: $spacing24;
                    position: absolute;
                    top: -$spacing24;
                    left: $spacing24;
                    right: $spacing24;
                }*/
                &.mt--1 {
                    &:before {
                        display: none;
                    }
                }
            }
        }
        .card-icon {
            width: 120px;
            margin-bottom: $spacing36;
            margin-top: $spacing12;
        }
        >img {
            width: 100%;
        }
        .title { 
            color: $primary-default;
        }
        &.fix-height {
            max-height: 100%;
            display: flex;
            align-items: center;
            overflow: visible!important;
        }
        .modal-title {
            margin-bottom: $spacing24;
            font-size: $font-large;
            color: $color-normal;
            display: flex;
            align-items: start;
            .close {
                margin-left: $spacing16;
                span {
                    color: $secondary-default;
                }
                &:hover span {
                    color: $secondary-hover;
                    opacity: 1;
                }
            }
        }
        &.text-center+.modal-footer {
            border-top: 0;
            padding: $spacing24;
        }
        &+.modal-footer {
            background-color: $color-white;
        }
        &:last-child {
            padding-bottom: $spacing24;
        }
    }
    .modal-nav {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: -21px;
        z-index: 1;
        [class*=nav-] {
            background: rgba($color-normal, 0.6);
            padding: 8px;
            border-radius: 4px;
            cursor: pointer;
            &:hover {
                background: $secondary-active;
            }
            i:before {
                color: $color-white!important;
            }
        }
        .nav-prev {
            position: absolute;
            left: $spacing36;
            right: auto;
        }
        .nav-next {
            position: absolute;
            left: auto;
            right: $spacing36;
        }
        &+img {
            width: auto;
            height: auto;
            margin: 0 auto;
            display: block;
            cursor: move;
        }
    }
    .modal-footer {
        display: block;
        .btn {
            margin-right: 0;
            min-width: 110px;
            &+.btn {
                margin-left: 8px;
            }
        }
        &.border-top {
            border-top: 1px solid $color-border;
            padding-top: $spacing12;
            padding-bottom: $spacing12;
            margin-top: $spacing24;
        }
    }
}

.modal-full {
    max-width: 1600px;
    margin-left: $spacing24;
    margin-right: $spacing24;
}

.modal-lg {
    max-width: 720px;
}

.modal-md {
    max-width: 540px;
}