.nav-tabs {
    overflow: hidden;
    margin-bottom: $spacing24;
    text-align: center;
    font-weight: bold;
    border: none;
    clear: left;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 0;
    margin: 0 auto;
    a {
        padding: $spacing12 $spacing16;
        display: block;
        position: relative;
        min-width: 80px;
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: normal;
        color: rgba($color-white, .7);
        position: relative;
        &:before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 1px;
            height: 100%;
        }
        &:last-child {
            &:before {
                display: none;
            }
        }
        &:hover {
            font-weight: bold;
            color: $color-white;
        }
        &.active {
            position: relative;
            background: $primary-active;
            color: $color-white;
            font-weight: bold;
        }
        &.disabled {
            color: $color-disable;
            cursor: default;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.nav-tabs-1 {
    a {
        padding: $spacing12 $spacing24;
        display: block;
        width: 100%;
        color: $color-normal;
        &.active {
            position: relative;
            color: $primary-light;
            font-weight: bold;
            &:before {
                position: absolute;
                background: $primary-light;
                content: '';
                width: 3px;
                top: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
            }
            &:hover {
                color: $primary-light;
            }
        }
    }
    &.fixed {
        position: fixed;
        top: 88px;
        z-index: 5;
    }
}

.tab-content {
    @include clearfix;
    &.border {
        border: 1px solid $color-border!important;
        padding: $spacing24;
        border-radius: 4px;
    }
}