{% extends "base.html" %}
{% block content %}
  <div class="bg"></div>
  <div class="container-fluid">
    <div class="content">
      <div class="nav nav-tabs navbar">
        {% url 'space:main' as main %}
        <a id="btn-home" href="#home" data-bs-toggle="tab" {% if request.get_full_path == main %}class="active" {% endif %}><i class="fas fa-home"></i><span>Home</span></a>
        {% url 'space:trade' room_name as trade %}
        <a href="#trade" data-bs-toggle="tab" {% if request.get_full_path == trade %}class="active" {% endif %}><i
            class="fas fa-exchange-alt"></i><span>Trade </span></a>
        {% url 'space:portfolio' as portfolio %}
        <a id="btn-port" href="#portfolio" data-bs-toggle="tab" {% if request.get_full_path == portfolio %}class="active"
          {% endif %}><i class="fas fa-briefcase"></i><span>Portfolio</span></a>
        {% url 'space:profit' as profit %}
        <a id="btn-profit" href="#profit" data-bs-toggle="tab" {% if request.get_full_path == profit %}class="active"
          {% endif %}><i class="fas fa-dollar-sign"></i><span>Profit</span></a>
        {% url 'space:logout' as logout %}
        <a href="" data-bs-toggle="modal" data-bs-target=".modal" {% if request.get_full_path == logout %}class="active"
          {% endif %}><i class="fas fa-sign-in-alt"></i><span>Logout</span></a>
      </div>
      <div class="tab-content">
        <div id="home" class="tab-pane {% if request.get_full_path == main %} active{% endif %}">
          <section>
            <h3 class="title">Account Information</h3>
            <div class="content-group">
              <div class="form-group">
                <label>Credit Limit</label><span id="account.credit_limit">100,000,000<span>THB</span></span>
              </div>
              <div class="form-group">
                <label>Line Available</label><span id="account.line_available">100,000<span>THB</span></span>
              </div>
              <div class="form-group">
                <label>Cash Balance</label><span id="account.cash_balance">100,000<span>THB</span></span>
              </div>
              <div class="form-group">
                <label>Can Buy / Sell</label><span id="account.can_buy">100,000<span>THB</span></span>
              </div>
            </div>
            <h3 class="title">ประวัติการทำรายการ</h3>
            <div class="table-responsive table-column-fix">
              <table style="min-width: 746px;" class="table">
                <colgroup>
                  <col style="width: 46px;">
                  <col style="width: 70px;">
                  <col style="width: 120px;">
                  <col style="width: 120px;">
                  <col style="width: 120px;">
                  <col style="width: 100px;">
                  <col style="width: 100px;">
                  <col style="width: 70px;">
                </colgroup>
                <thead>
                  <tr>
                    <th style="left: 0px;" class="sticky text-center">No.</th>
                    <th style="left: 46px;" class="sticky-left">Symbol</th>                 
                    <th>Side</th>
                    <th>Time</th>
                    <th>Volume</th>
                    <th>Matched</th>
                    <th>Balance</th>
                    <th style="right: 0;" class="sticky-right">Status</th>
                  </tr>
                </thead>
                <tbody id="table-history">
                  <tr class="history-buy">
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
        <div id="trade" class="tab-pane {% if request.get_full_path == trade %} active{% endif %}">
          <div class="nav-select">
            <select id="select-equity" onchange="getEquity(this)">
              <option class="text-dark">Select Equity</option>
              {% for post in posts %}
              <option Value="{{post.symbol}}" class="text-dark">{{post.symbol}} - {{post.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="bar-name">
            <div class="media">
              <div class="float-left">
                <h1 id="main-symbol">0000</h1>
              </div>
              <div class="media-body">
                <div id="main-last" class="price color-success">0 <span>THB</span></div>
                <div id="main-percent" class="change">Change (0.0%)</div>
                <div id="main-time" class="latest-info">ข้อมูลล่าสุด: -</div>
              </div>
            </div>
          </div>
          <hr>
          <div class="bar-price">
            <div class="form-group">
              <label>ราคาสูงสุด</label><span id="main-high_price" class="color-success">-<span>THB</span></span>
            </div>
            <div class="form-group">
              <label>ราคาต่ำสุด</label><span id="main-low_price" class="color-danger">-<span>THB</span></span>
            </div>
            <div class="form-group">
              <label>ราคาเริ่มต้น</label><span id="main-init_price">-<span>THB</span></span>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-6"></div>
          </div>
          <section>
            <div class="content-group mb-2">
              <h3 class="title">Status Information</h3>
              <div class="form-group">
                <label>Buy ( Volume / Estimate Amount )</label><span id='buy.status'>0 / 0</span>
              </div>
              <div class="form-group">
                <label>Sell ( Volume / Profit )</label><span id='sell.status'>0 / 0<span>THB</span></span>
              </div>
              <div class="form-group">
                <label>Status</label><span id="account.status">-</span>
              </div>
            </div>
            <div class="content-group">
              <div class="form-action">
                <div class="row">
                  <div class="col-6">
                    <button id="button-buy" type="button" class="btn btn-block btn-outline success">ซื้อ</button>
                  </div>
                  <div class="col-6">
                    <button id="button-sell" type="button" class="btn btn-block btn-outline danger">ขาย</button>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="content-group">
              <h3 class="title">Trade Condition<a href="/admin/hoon/condition/"><i
                    class="fas fa-cog"></i>ตั้งค่าเทรด</a></h3>
              <div class="form-group">
                <label>จำนวนครั้งแรกที่ซื้อ</label><span id="condition.amount">0.00 <span>THB</span></span>
              </div>
              <div class="form-group">
                <label>จำนวนครั้งที่ซื้อ</label><span id="condition.quantity">0 / 0 <span>ครั้ง</span></span>
              </div>
              <div class="form-group">
                <label>% การช้อนซื้อ</label><span id="condition.percent_drop">0<span>%</span><i data-toggle="tooltip"
                    data-placement="top" title="1, 3, 4, 4" class="fas fa-info-circle"></i></span>
              </div>
              <div class="form-group">
                <label>ตัวคูณช้อนซื้อ</label><span id="condition.multiply">4<span>x</span><i data-toggle="tooltip"
                    data-placement="top" title="2, 4, 8, 16" class="fas fa-info-circle"></i></span>
              </div>
              <div class="form-group">
                <label>(A) % ราคาเมื่อหุ้นลดลงแล้วดีดกลับ</label><span id="condition.drop_pullback">0.0<span>%</span><i
                    data-toggle="tooltip" data-placement="top" title="0.25, 0.25, 0.25, 0.33"
                    class="fas fa-info-circle"></i></span>
              </div>
              <div class="form-group">
                <label>(C) % กำไรเมื่อหุ้นเพิ่มขึ้น</label><span id="condition.percent_profit">0.0 </span><span>/
                  1.1<span>%</span></span>
              </div>
              <div class="form-group">
                <label>(B) % ราคาเมื่อหุ้นเพิ่มขึ้นแล้วลดลง</label><span
                  id="condition.percent_retracement">0.0<span>%</span></span>
              </div>
              <div class="form-group">
                <label>Stop Loss</label><span class="color-danger" id="condition.stop_loss">0.0<span>%</span></span>
              </div>
            </div>
            <div class="content-group">
              <h3 class="title">Robot Trade</h3>
              <div class="form-action">
                <div class="row">
                  <div class="col-6">
                    <button id="button-trade" type="button"
                      class="btn btn-block btn-outline success btn-yellow">เทรด</button>
                  </div>
                  <div class="col-6">
                    <button id="button-reset" type="button" class="btn btn-block btn-outline danger">รีเซ็ตเทรด</button>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div id="portfolio" class="tab-pane {% if request.get_full_path == portfolio %} active{% endif %}">
          <section>
            <h3 class="title">Portfolio</h3>
            <div class="table-responsive table-column-fix">
              <table style="min-width: 800px;" class="table">
                <colgroup>
                  <col style="width: 70px;">
                  <col style="width: 130px;">
                  <col style="width: 130px;">
                  <col style="width: 130px;">
                  <col style="width: 130px;">
                  <col style="width: 130px;">
                  <col style="width: 80px;">
                  <col style="width: 130px;">
                </colgroup>
                <thead>
                  <tr>
                    <th style="left: 0;" class="sticky-left">Symbol</th>
                    <th>Actual Vol</th>
                    <th>Market Price</th>
                    <th>Amount</th>
                    <th>Market Value</th>
                    <th>Profit</th>
                    <th>%Profit</th>
                    <th>Realized P/L</th>
                  </tr>
                </thead>
                <tbody id="table-portfolio">
                </tbody>
              </table>
            </div>        
          </section>
          <hr>
          <div class="content-group p-2">
            <h3 class="title">Total</h3>
            <div class="form-group">
              <label>Unrealized P/L</label><span id="port.unrealized">0</span><span id="port.percent_unrealized">(0.0%)<span>%</span></span>
            </div>
            <div class="form-group">
              <label>Realized P/L</label><span id="port.realized">0.0</span>
            </div>
          </div>
        </div>
        <div id="profit" class="tab-pane {% if request.get_full_path == profit %} active{% endif %}">
          <section>
            <h3 class="title">Profit</h3>
            <div class="bar-price">
              <div class="form-group">
                <label>กำไรทั้งหมด</label><span id="total-profit" class="color-success">0<span>THB</span></span>
              </div>
              <div class="form-group">
                <label>ขาดทุนทั้งหมด</label><span id="total-loss" class="color-danger">0<span>THB</span></span>
              </div>
              <div class="form-group">
                <label>กำไรสุทธิ</label><span id="total-nett">0<span>THB</span></span>
              </div>
            </div>
            <hr>
            <div class="nav nav-tabs nav-second"><a href="#daily" data-bs-toggle="tab" class="active">Daily Profit</a><a
                href="#monthly" data-bs-toggle="tab">Monthly Profit</a></div>
            <div class="tab-content">
              <div id="daily" class="tab-pane active">
                <div class="table-responsive table-column-fix">
                  <table style="min-width: 460px;" class="table">
                    <colgroup>
                      <col style="width: 90px;">
                      <col style="width: 120px;">
                      <col style="width: 120px;">
                      <col style="width: 120px;">
                    </colgroup>
                    <thead>
                      <tr>
                        <th style="left: 0;" class="sticky-left">Date</th>
                        <th>Profit</th>
                        <th>Liquidation Loss</th>
                        <th>Nett Profit</th>
                      </tr>
                    </thead>
                    <tbody id="table-daily">
                    </tbody>  
                  </table>
                </div>
                <div class="page-navigation">
                  <div id="daily-page" class="float-left"><span>0</span> of 0</div>
                  <div class="float-right">
                    <ul class="pagination">
                      <li class="page-item"><button id="daily-previous" class="page-link disabled"><i
                            class="fas fa-chevron-left"></i></button></li>
                      <li class="page-item"><button id="daily-next" class="page-link"><i class="fas fa-chevron-right"></i></button></li>
                    </ul>
                    <!-- end-->
                  </div>
                </div>
              </div>
              <div id="monthly" class="tab-pane">
                <div class="table-responsive table-column-fix">
                  <table style="min-width: 460px;" class="table">
                    <colgroup>
                      <col style="width: 80px;">
                      <col style="width: 120px;">
                      <col style="width: 120px;">
                      <col style="width: 120px;">
                    </colgroup>
                    <thead>
                      <tr>
                        <th style="left: 0;" class="sticky-left">Date</th>
                        <th>Profit</th>
                        <th>Liquidation Loss</th>
                        <th>Nett Profit</th>
                      </tr>
                    </thead>
                    <tbody id="table-monthly">
                    </tbody>                  
                  </table>
                </div>
                <div class="page-navigation">
                  <div id="monthly-page" class="float-left"><span>0</span> of 0</div>
                  <div class="float-right">
                    <ul class="pagination">
                      <li class="page-item"><button id="monthly-previous" class="page-link disabled"><i
                            class="fas fa-chevron-left"></i></button></li>
                      <li class="page-item"><button id="monthly-next" class="page-link"><i class="fas fa-chevron-right"></i></button></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal-->
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <p>ต้องการออกจากระบบ?</p>
        </div>
        <div class="modal-footer">
          <div class="float-right">
            <button type="button" data-bs-dismiss="modal" class="btn btn-outline">ยกเลิก</button>
            <a href="{% url 'space:logout' %}"><button type="submit" class="btn btn-primary">ตกลง</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}