{% extends 'stock_space/layout.html' %}

{% block content %}

<body class="login">
  <div class="bg"></div>
  <div class="container-fluid">
    <div class="content">
      {% if next %}
      <form action="{% url 'space:login_form' %}/login?next={{next}}" method="post">
      {% endif %}
        {% csrf_token %}
        <div class="login-form">
          <div>
            <div class="title-header"><span>B</span><span>o</span><span>t</span><br>trade<br>hoon</div>
            <div class="form-group">
              <label>Username</label>
              <input type="text" placeholder="Username" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" type="text" placeholder="Password" class="form-control" name="password">
            </div>
            <div class="form-action">
              <button class="btn btn-block btn-primary" type="submit">Login</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Modal-->
</body>

{% endblock %}