.footer {
    background-color: #F6F8FA;
    padding: 48px $spacing12 0 $spacing12;
    .media {
        .float-left {
            min-width: 240px;
        }
    }
    .title {
        font-weight: bold;
        font-size: $font-large;
    }
    ul {
        li {
            margin-bottom: 8px;
            a {
                display: block;
                color: $color-normal;
            }
        }
    }
    .footer-nav-bottom {
        padding: $spacing24 $spacing16;
        margin-top: $spacing24;
        margin-left: -$spacing12;
        margin-right: -$spacing12;
        border-top: 1px solid $color-border;
        .container {
            display: flex;
        }
        a {
            margin-right: $spacing24;
            display: inline-block;
            color: $color-normal;
            margin-bottom: 4px;
            &:last-child {
                margin-right: 0;
            }
        }
        .copy {
            margin-right: $spacing36;
        }
        .condition {
            margin-left: auto;
        }
    }
}