.headbar {
  height: 60px;
  position: absolute;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 $spacing12;
  display: flex;
  border-bottom: 1px solid $color-border;
  //box-shadow: 0 2px 8px rgba($color-normal, 0.15);
  [class*="float-"] {
    height: 100%;
  }
  >[class*="-left"] {
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  >[class*="-right"] {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .nav-tabs {
    overflow: auto;
  }
}

.logo {
  background: url('../../assets/images/header/logo.svg') no-repeat;
  background-size: 100% 100%;
  width: 130px;
  height: 28px;
  display: flex;
  align-items: center;
  >span {
    font-size: 18px;
    padding-top: 4px;
    display: flex;
    align-items: center;
    color: $primary-default;
    font-weight: 600;
    white-space: nowrap;
    display: none;
    &:before {
      content: '';
      display: block;
      border-left: 1px solid rgba($primary-default, 0.15);
      padding-left: 8px;
      width: 1px;
      height: 24px;
    }
    >i {
      color: $color-white;
      margin-right: $spacing12;
    }
  }
}

ul.menu {
  font-size: $font-medium;
  display: flex;
  align-items: center;
  li {
    a {
      padding: $spacing12 $spacing16;
      color: $color-normal;
      display: block;
    }
    &.has-line {
      font-weight: bold;
      a {
        display: inline-block;
        color: $color-link;
        &:first-child {
          position: relative;
          &:before {
            content: '';
            position: absolute;
            right: 0;
            top: 12px;
            height: 16px;
            width: 1px;
            background-color: #ddd;
          }
        }
      }
    }
  }
}

.lang {
  position: relative!important;
  display: flex;
  align-items: center;
  border-radius: 4px;
  .dropdown-toggle {
      border: none;
      min-width: 80px;
      max-width: 120px;
      span {
        text-overflow: inherit;
      }
  }
  .dropdown-menu {
    left: inherit;
    width: inherit;
    min-width: 120px;
  }
  &+div {
    margin-left: $spacing12!important;
  }
  &:hover {
    background-color: $color-background;
  }
  &.show {
    background: none;
  }
}

.user {
  .dropdown-toggle {
    border: none;
    span {
      text-overflow: inherit;
    }
  }
  &:hover {
    background-color: $color-background;
  }
  &.show {
    background: none;
  }
}

.no-sidebar {
  .nav-menu {
    display: none!important;
  }
  .container-fluid {
    padding-left: 0;
    height: 100%;
    .content {
      .container {
        height: 100%;
        max-width: 1140px;
        padding: 0;
      }
    }
  }
}

.nav-toggle { cursor: pointer; border: 0; width: 45px; height: 45px; line-height: 38px; padding: 0; text-align: center; }
.nav-toggle span { display: block; position: relative; height: 100%; }
.nav-toggle i { position: relative; display: inline-block; width: 20px; height: 1px; color: #000; text-indent: -55px; background: #333; transition: all .2s ease-out; -webkit-transition: all .2s ease-out; -moz-transition: all .2s ease-out; -ms-transition: all .2s ease-out; left:-5px; }
.nav-toggle i:before, .nav-toggle i:after { content:''; width: 27px; height: 1px; background: #333; position: absolute; left:0; transition: all .2s ease-out;}
.nav-toggle i::before {top: -7px;}
.nav-toggle i::after {bottom: -7px;}

.nav-open .nav-toggle i { background: none; }
.nav-open .nav-toggle i::before { top:0;-webkit-transform: rotateZ(45deg);-moz-transform: rotateZ(45deg);-ms-transform:rotateZ(45deg);-o-transform: rotateZ(45deg);transform: rotateZ(45deg); }
.nav-open .nav-toggle i::after { bottom:0;-webkit-transform: rotateZ(-45deg);-moz-transform: rotateZ(-45deg);-ms-transform: rotateZ(-45deg);-o-transform: rotateZ(-45deg);transform: rotateZ(-45deg); }