.nav-menu {
  position: fixed;
  z-index: 1000;
  background: #9aa1a7;
  top: 64px;
  left: 0;
  bottom: 0;
  padding: 8px 0;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: pointer;
  text-align: right;
  width: 72px;
  &.nav-open {
    width: $nav-width;
    cursor: inherit;
    .mainmenu {
      pointer-events: inherit;
    }
    li {
      a {
        [class^="icon-"]:first-child {
          margin-right: $spacing12;
        }
        >span, [class^="icon-small-"] {
          display: block;
        }
      }
      .submenu {
        display: block;
      }
    }
    .has-submenu {
      a {
        padding-right: 48px;
      }
    }
    .logo {
      //display: block;
      width: 184px;
      opacity: 1;
    }
  }
  .logo {
    background: url('../../assets/images/header/logo-white.svg') no-repeat;
    margin-left: $spacing24;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.1s;
  }
  i {
    font-size: 20px;
    min-width: $spacing24;
    color: #c1cad0;
  }
  .active {
    overflow: hidden;
    i {
      color: $color-white;
    }
    &:before {
      content: '';
      background: $color-white;
      width: 2px;
      height: 100%;
      position: absolute;
      left: 0;
      z-index: 2;
    }
    >a {
      background: $primary-active;
    }
  }
  .open {
    [class^="icon-small-"] {
      transform: rotate(90deg);
    }
  }
}
.nav-toggle {
  width: 40px;
  height: 100%;
  margin-right: $spacing12;
  position: relative;
  z-index: 999;
  line-height: 74px;
  text-align: center;
  float: left;
  cursor: pointer;
  display: none;
  i {
    font-size: 20px;
    margin: 0 auto;
    span:before, &:before {
      color: $secondary-default;
    }
  }
  &:hover {
    i {
      span:before, &:before {
        color: $secondary-hover;
      }
    }
  }
  &:before {
    content: '';
    clear: both;
    display: table;
  }
}

.mainmenu {
  width: $nav-width;
  clear: both;
  pointer-events: none;
  >li {
    position: relative;
    margin-bottom: 8px;
    >a {
      font-weight: bold;
      >span, [class^="icon-small-"] {
        display: none;
        margin-left: $spacing16;
      }
    }
    a {
      padding: 8px $spacing24;
      color: $color-white;
      display: flex;
      align-items: center;
      &:hover {
        background: $primary-hover;
      }
      [class^="icon-"] {
        >span:before {
          color: $color-white;
        }
      }
    }
  }
  .has-submenu {
    .submenu {
      height: 0;
      overflow: hidden;
      -webkit-transition: height .2s ease-out;
      transition: height .2s ease-out;
      display: none;
      a {
        padding: $spacing12 $spacing24 $spacing12 64px;
      }
    }
    [class^="icon-small-"] {
      position: absolute;
      right: $spacing24;
      margin: 0;
      &:before {
        color: $color-white;
      }
    }
  }
}