@media (min-width: 1600px) {
}

@media (min-width: 1200px) {
    
}

@media (min-width: 992px) {
    
}

@media (min-width: 768px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
    
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {

}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 576px) {

}