{% extends 'layout.html' %}

{% block content %}

{% load static %}
{% load humanize %}

<main class="container">
    <!-- Select Section -->
    <section id="section-realtime" class="mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="p-5 text-secondary rounded-2" style="max-height: 380px;">

                    <div class="row">
                        <div class="col-sm-8" clospan>
                            <p class="fs-6 mb-1 fw-light">ข้อมูลล่าสุด : <strong class="fs-6 fw-normal text-success"
                                    id="main-time"></strong></p>
                            <p class="fs-6 mb-1 fw-light">สถานะตลาด : <strong class="fs-6 fw-normal text-success"
                                    id="main-status"></strong></p>
                        </div>
                        <div class="col-sm-4">
                            <p id="main-symbol" class="d-flex fs-1 blink-gray mb-1">SYM</p>
                        </div>
                    </div>
                    <div class="row mb-3">

                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p class="fs-5 mb-1">เปลี่ยนแปลง</p>
                            <p id="main-change" class="fs-3 mb-1 blink-gray">+0.00</p>
                        </div>
                        <div class="col-sm">
                            <p class="fs-5 mb-1">%เปลี่ยนแปลง</p>
                            <p id="main-percent" class="fs-3 mb-1 blink-gray">+0.00%</p>
                        </div>
                        <div class="col-sm">
                            <p class="fs-5 mb-1">ราคาล่าสุด</p>
                            <p id="main-last" class="fs-3 blink-gray">0.00</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p class="fs-5 mb-1">ราคาเริ่มต้น</p>
                            <p class="fs-3 text-color"><span class="text-color" id="main-init_price">0.00</span>฿</p>
                        </div>
                        <div class="col-sm">
                            <p class="fs-5 mb-1">ราคาต่ำสุด</p>
                            <p class="fs-3 text-color"><span class="text-color" id="main-low_price">0.00</span>฿</p>
                        </div>
                        <div class="col-sm">
                            <p class="fs-5 mb-1">ราคาสูงสุด</p>
                            <p class="fs-3 mb-1"><span class="text-color" id="main-high_price">0.00</span>฿</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-6 ">
                <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 text-decoration-none border-bottom">
                    <svg class="bi me-2" width="30" height="24">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    <span class="fs-5 fw-semibold">Select Equity</span>
                </a>

                <div class="d-flex flex-column infinite-scroll" style="max-height: 260px; overflow-y: scroll;">

                    <div class="list-group list-group-flush border-bottom scrollarea">
                        {% for post in posts %}
                        <a href="/equity/{{post.symbol}}" id="{{post.symbol}}"
                            class="list-group-item list-group-item-action tive py-3 lh-tight" aria-current="true">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <strong class="mb-1">{{post.symbol}}</strong>
                                <!-- <small>Open</small> -->
                            </div>
                            <div class="col-10 mb-1 small">{{post.name}}</div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Order -->
    <section id="section-order" class="mt-4">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped table-hover caption-top">
                    <caption>Account Information</caption>
                    <!-- <thead>
                        <tr>
                            <th scope="col">Volume</th>
                            <th scope="col">Bids</th>
                            <th scope="col">Offers</th>
                            <th scope="col">Volume</th>
                        </tr>
                    </thead> -->
                    <tbody>
                        <tr>
                            <td>Credit Limit</td>
                            <td><span id="account.credit_limit">0</span>฿</td>
                        </tr>
                        <tr>
                            <td>Line Available</td>
                            <td><span id="account.line_available">0</span>฿</td>
                        </tr>
                        <tr>
                            <td>Cash Balance</td>
                            <td><span id="account.cash_balance">0</span>฿</td>
                        </tr>
                        <tr>
                            <td>Can Buy / Sell</td>
                            <td><span id="account.can_buy"></span> / <span id="account.can_sell"></span></td>
                        </tr>
                        <tr>
                            <td>Buy ( Volume / Estimate Amount )</td>
                            <td><span id='buy.volume'>0</span> / <span style="color: #02b156;">~</span><span
                                    id='buy.estimate_amount'>0</span></td>
                        </tr>
                        <tr>
                            <td>Sell ( Volume / Profit )</td>
                            <td><span id='sell.volume'>0</span> / <span id='sell.profit_total'>0</span>฿</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td id="account.status">-</td>
                        </tr>
                    </tbody>
                </table>

                <div class="d-flex flex-row bd-highlight mb-3">
                    <button id="button-buy" type="button" class="fs-6 w-100 btn btn-green">ช้อนซื้อ</button>
                    <button id="button-sell" type="button" class="fs-6 w-100 btn btn-lg btn-red ms-2">ขาย</button>
                </div>
            </div>

            <div class="col-md-6">
                <table id="table.condition" class="table table-striped table-hover caption-top">
                    <caption>เงื่อนไขการเทรด</caption>
                    <tbody>
                        <tr>
                            <td>จำนวนครั้งแรกในการซื้อ</td>
                            <td id="condition.amount">0.0</td>
                            <td>฿</td>
                        </tr>
                        <tr>
                            <td>จำนวนครั้งในการช้อนซื้อ</td>
                            <td><span id="buy.times" class="text-color">0</span> / <span
                                    id="condition.quantity">0.0</span></td>
                            <td>ครั้ง</td>
                        </tr>
                        <tr>
                            <td>% ช้อนซื้อ</td>
                            <td><span id="buy.%profit">0</span> / <span id="buy.percent_buy" class="text-color">0</span>
                                / <span id="condition.percent_drop">0.0</span></td>
                            <td>%</td>
                        </tr>
                        <tr>
                            <td>ตัวคูณช้อนซื้อ</td>
                            <td><span id="buy.multiply" class="text-color">0</span> / <span
                                    id="condition.multiply">0.0</span></td>
                            <td>x</td>
                        </tr>
                        <tr>
                            <td>(A) % ราคาเมื่อหุ้นลดลงแล้วดีดกลับ</td>
                            <td><span id="buy.%drop_pullback">0</span> / <span id="buy.drop_pullback"
                                    class="text-color">0</span> / <span id="condition.drop_pullback">0.0</span></td>
                            <td>%</td>
                        </tr>
                        <tr>
                            <td>(C) % กำไรเมื่อหุ้นเพิ่มขึ้น</td>
                            <td><span id="sell.%profit">0</span> / <span id="condition.percent_profit">0.0</span></td>
                            <td>%</td>
                        </tr>
                        <tr>
                            <td>(B) % ราคาเมื่อหุ้นเพิ่มขึ้นแล้วลดลง</td>
                            <td><span id="sell.retracement">0</span> / <span
                                    id="condition.percent_retracement">0.0</span></td>
                            <td>%</td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex flex-row bd-highlight mb-3">
                    <button id="button-trade" type="button"
                        class="fs-6 w-100 btn btn-yellow btn-lg">เริ่มต้นเทรดต่อ</button>
                    <button id="button-reset" type="button"
                        class="fs-6 w-100 btn btn-gray btn-lg ms-2">รีเซ็ตการเทรด</button>
                </div>
            </div>
        </div>
    </section>

    <!-- History Section -->
    <section id="section-history" class="mt-4">
        <div class="row">
            <span class="p-2">ประวัติการทำรายการของฉัน</span>
            <div class="overflow-auto" style="height: 210px;">
                <table class="table table-hover table-borderless" style="table-layout: auto;">
                    <!-- <caption>ประวัติการทำรายการของฉัน</caption> -->
                    <thead class="sticky-top">
                        <tr>
                            <th scope="col">Order No.</th>
                            <th scope="col">Time</th>
                            <th scope="col">Symbol</th>
                            <th scope="col">Side</th>
                            <th scope="col">Volume</th>
                            <th scope="col">Matched</th>
                            <th scope="col">Banlace</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody id="table-history">
                        <tr class="history-buy">
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>
{{ room_name|json_script:"room-name" }}
<script src="{% static 'js/equity.js' %}"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
<!-- <script src="{% static 'js/hoon.js' %}"></script> -->

{% endblock %}