<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Bottradehoon Login</title>

    {% block content %}

    {% load static %}

    <meta name="theme-color" content="#7952b3">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <!-- Bootstrap core css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

<body class="text-center" cz-shortcut-listen="true">
    <main class="form-signin">
            {% if next %}
            <form action="/login?next={{next}}" method="post">
            {%else%}
            <form action="/login/" method="post">
                {% endif %}
                {% csrf_token %}
                <!-- <img class="mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1> -->
                <h1 class="h3 mb-3 fw-normal">Bottradehoon Login</h1>
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                        name="password">
                    <label for="floatingPassword">Password</label>
                </div>
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    {% for message in messages %}
                    <label>{{ message }}</label>
                    {% endfor %}
                </div>

                {% endif %}
                <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
                <p class="mt-5 mb-3 text-muted">©2021</p>

            </form>
    </main>
</body>
</head>

</html>
{% endblock %}