{% extends 'layout.html' %}

{% block content %}

{% load static %}
{% load humanize %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<main class="container">
    <!-- Portfolio Section -->
    <section id="section-history" class="mt-4">
        <div class="row">
            <span class="p-2">Portfolio</span>
            <div class="overflow-auto" style="height: 500px;">
                <table class="table table-borderless table-hover" style="table-layout: auto;">
                    <thead class="sticky-top">
                        <tr>
                            <th scope="col">Symbol</th>
                            <th scope="col">Start Vol</th>
                            <th scope="col">Avail Vol</th>
                            <th scope="col">Actual Vol</th>
                            <th scope="col">Avg Cost</th>
                            <th scope="col">Market Price</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Market Value</th>
                            <th scope="col">Profit</th>
                            <th scope="col">%Profit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts %}
                        <tr class="history-buy">
                            <td>{{post.symbol}}</td>
                            <td>{{post.start_volume|intcomma}}</td>
                            <td style="color: #FBDB46;">{{post.current_volume|intcomma}}</td>
                            <td>{{post.actual_volume|intcomma}}</td>
                            <td>{{post.average_price|intcomma}}฿</td>
                            <td>{{post.market_price|intcomma}}฿</td>
                            <td>{{post.amount|intcomma}}฿</td>
                            <td>{{post.market_value|intcomma}}฿</td>
                            {% if post.profit < 0 %} <td style="color: #fa6565;">{{post.profit|intcomma}}฿</td>
                                <td style="color: #fa6565;">{{post.percent_profit|intcomma}}%</td>
                                {% elif post.profit > 0 %}
                                <td style="color: #02b156;">{{post.profit|intcomma}}฿</td>
                                <td style="color: #02b156;">{{post.percent_profit|intcomma}}%</td>
                                {% else %}
                                <td style="color: #FBDB46;">{{post.percent_profit|intcomma}}฿</td>
                                <td style="color: #FBDB46;">{{post.percent_profit|intcomma}}%</td>
                                {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>
<script src="{% static 'js/equity.js' %}"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
<!-- <script src="{% static 'js/hoon.js' %}"></script> -->

{% endblock %}