/* Custom Button */
.btn-green {
  background-color: var(--green-color);
  color: #ffffff;
  border: 2px solid var(--green-color);
}
.btn-green:hover {
  background-color: var(--bg-color);
  color: var(--green-color);
}

.btn-green:active {
  background-color: #91c788;
  color: #ffffff;
}

.btn-red {
  background-color: var(--red-color);
  color: #ffffff;
  border: 2px solid var(--red-color);
}
.btn-red:hover {
  background-color: var(--bg-color);
  color: var(--red-color);
}

.btn-red:active {
  background-color: #fe8f8f;
  color: #ffffff;
}

.btn-gray {
  background-color: #eef0f2;
  color: darkslategray;
  border: 2px solid #eef0f2;
}
.btn-gray:hover {
  background-color: var(--bg-color);
  color: var(--gray-color);
}

.btn-gray:active {
  background-color: #f8f0df;
  color: darkslategray;
}

.btn-yellow {
  background-color: #fbdb46;
  color: darkslategray;
  border: 2px solid #fbdb46;
}
.btn-yellow:hover {
  background-color: var(--bg-color);
  color: var(--gray-color);
}

.btn-yellow:active {
  background-color: #f8f0df;
  color: darkslategray;
}

button {
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  width: 100%;
  display: block;
  overflow: auto;
}

button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}
