:root {
  /* filter: invert(100%); */
  --body-color: #1e2026;
  --bd-color: #1a1e1e;
  --bg-color: #161a1e;
  --font-color: #ffffff;
  --head-color: #2a2d35;
  --green-color: #02b156;
  --red-color: #fa6565;
  --gray-color: #eef0f2;
  --yellow-color: #fbdb46;
}
/* Light Mode */

.light-mode {
  --body-color: #eef0f2;
  --bd-color: whitesmoke;
  --bg-color: #fafafa;
  --font-color: #1a1e1e;
  --head-color: #fafafa;
  --gray-color: #1e2026;
}

/* Remove outline */
.btn:focus {
  outline: none;
  box-shadow: none;
}

/* Animation Blinking */
.blink-green {
  color: var(--green-color);
  animation: green_update 0.2s ease;
}

@keyframes green_update {
  0% {
    color: white;
  }
  100% {
    color: white;
    background-color: #67e6a4;
  }
}

.blink-red {
  color: var(--red-color);
  animation: red_update 0.2s ease;
}

@keyframes red_update {
  0% {
    color: white;
  }
  100% {
    color: white;
    background-color: #f65776;
  }
}

.blink-gray {
  color: var(--font-color) !important;
}

.history-buy {
  color: white;
  animation: history_buy 0.2s ease;
}

@keyframes history_buy {
  0% {
    color: white;
  }
  100% {
    color: white;
    background-color: #67e6a4;
  }
}

.history-sell {
  color: white;
  animation: history_sell 0.2s ease;
}

@keyframes history_sell {
  0% {
    color: white;
  }
  100% {
    color: white;
    background-color: #f65776;
  }
}

body {
  background-color: var(--body-color);
}

main {
  background-color: var(--body-color);
}

label {
  color: var(--font-color);
}

#section-realtime div,
#section-realtime a {
  border-color: var(--bd-color);
  background-color: var(--bg-color);
  color: var(--font-color);
}

#section-realtime a:hover {
  border-color: gray;
}
#section-realtime span {
  color: var(--green-color);
}

#section-order div,
#section-order td,
#section-order th {
  border-color: var(--bd-color);
  background-color: var(--bg-color);
  color: var(--font-color);
}

.text-color {
  color: var(--font-color) !important;
}

#section-history tbody {
  color: var(--font-color);
  background-color: var(--bg-color);
}
#section-history td,
#section-history th {
  color: var(--font-color);
}
#section-history thead,
#section-history div {
  background-color: var(--bg-color);
}

#section-history span {
  background-color: var(--bd-color);
  color: var(--font-color);
}
